* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

header,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

button,
input,
option {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

button {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
button:hover {
  opacity: 1;
}
button:disabled {
  color: rgba(255, 255, 255, 0.4);
}

.setBudgetArea,
.filtersArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 14px;
}

#setBudget {
  height: 25px;
  width: 200px;
  border-radius: 10px 0 0 10px;
  border: 0;
  padding: 5px;
}
#setBudget:disabled {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
}

#date,
#title,
#amount {
  height: 25px;
  width: 200px;
  padding: 5px;
  margin: 50px 2px;
  border-radius: 10px;
  border: 0;
  color: rgb(105, 105, 105);
}

.d-flex {
  display: flex;
}

select {
  height: 35px;
  width: 30px;
  border-radius: 0 10px 10px 0;
  border: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  -moz-text-align-last: right;
       text-align-last: right;
  direction: rtl;
  padding-right: 12px;
}
select:disabled {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.4);
}

.save {
  background-color: rgb(108, 108, 10);
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 10px;
}
.save:disabled {
  background-color: grey;
}

.addOperation {
  margin-left: 20px;
}
.addOperation button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.addOperation button:first-of-type {
  background-color: rgba(0, 255, 51, 0.5);
}
.addOperation button:last-of-type {
  background-color: rgba(255, 0, 51, 0.5);
}

.yourBudget {
  padding: 15px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 32px;
}

.title {
  font-family: "Annie Use Your Telescope", cursive;
  line-height: 90%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 30px 30px;
}
nav li {
  margin: 20px 15px;
}

table {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
}

td,
th {
  width: 200px;
  height: 40px;
  padding: 5px 10px;
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.2);
}